* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}

#root {
  height: 100vh;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  background: url("https://images.pexels.com/photos/280252/pexels-photo-280252.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
}

#timerContainer {
  background-color: rgba(35, 64, 153, 0.7);
  padding: 30px;
  border-radius: 15px;
}
#title {
  text-align: center;
}

#timerSet {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.timerSet-buttons {
  display: flex;
  justify-content: space-between;
}

.icon {
  color: white;
  font-size: 25px;
}

.icon:hover {
  color: lightblue;
}

button {
  background: none;
  border: none;
  outline: none;
}

h2[id$="-label"] {
  text-transform: capitalize;
}

#timer {
  margin-top: 30px;
  text-align: center;
}

#timerControls {
  text-align: center;
}
